@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
}
