input, button {
  border: 0;
  height: var(--input-min-height);
}

.dropdown {
  height: var(--input-min-height);
  padding: 0 1em;
  font-weight: 200;
  gap: 0.5em;
  border: 0;

  & fieldset {
    border: 0;
  }

  & > * {
    border: 0;
    padding: 0 !important;
  }
  &.dark {
    color: var(--white-color);
    & img {
      filter: invert(1);
    }
  }
}

.search-input {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;

  & > * {
    height: var(--input-min-height);
    display: flex;
    align-items: center;
  }

  & input {
    padding: 0 1em;
    font-weight: 200;
    border: 0;
    flex: 1;

    &::placeholder {
      color: var(--aux-color);
    }
  }

  & figure {
    background-color: var(--secondary-color);
    justify-content: center;
    width: var(--input-min-height);
    height: var(--input-min-height);
  }
}


.primary-button  {
  height: var(--input-min-height);
  background-color: var(--primary-color);
  color: var(--white-color);
  min-width: 200px;
  transition:all ease-in-out .5s 0s;

  &:hover {
    background-color: var(--primary-color-dark);
    cursor: pointer;
    transition:all ease-in-out .5s 0s;
  }
}

.primary-button-inverted {
  min-width: 200px;
  height: var(--input-min-height);
  background-color: var(--white-color);
  color: var(--primary-color);
  outline: 0.1em solid var(--primary-color);
}


.cart-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5em;
  padding: 1em 2em;
  background-color: var(--white-color);
  
  & span {
    font-size: 1.2em;
    color: var(--aux-color);

  }
}

