nav {
  min-height: var(--input-min-height);
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

& nav.lang-currency {
  & span {
    color: var(--white-color);
    font-weight: 100;
  }
  justify-content: space-between;
  padding: 0 2em 0 4em;
}

& nav.search {
  background-color: var(--white-color);
  padding: 2em;
  font-size: 1.2em;

  & .logo {
    margin-right: auto;
  }

  & .dropdown,
  & .search-input input,
  .search-input input::placeholder {
    font-size: 1em;
  }

  & > section {
    outline: 0.1em solid var(--white-color-medium);
    display: flex;
    align-items: center;
    padding: 5px;
    flex: 1;
    width: auto;
    min-height: var(--input-min-height);

    &.mobile {
      flex: 0;
    }
    

    &:last-of-type {
      justify-content: space-between;
      padding: 5px 2em;
    }

    & .auth-links {
      display: flex;
      flex-flow: row nowrap;
      gap: 1em;

      & a {
        text-decoration: none;
        color: var(--black-color);
      }
    }
  }

  & .actionable-icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    padding: 0 2em;
  }
}

& nav.menu-navbar {
  height: var(--input-min-height);
  color: var(--white-color);
  & .categories-wrapper {
    height: 100%;
    flex: 1 ;
    max-width: 300px;
    padding: 0 1em;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  & .sections {
    flex: 2 0 300px;

    display: flex;
    justify-content: center;
    border-right: 0.1em solid var(--white-color);

    & * {
      text-transform: uppercase;
    }
  }

  & .contact {
    display: flex;
    align-items: center;
    flex: 1 1 50px;
    max-width: 300px;
    gap: 1em;
    padding: 0 2em;
    flex-flow: row nowrap;

    min-height: 100%;
    & div {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      text-transform: uppercase;

      & span {
        color: var(--white-color);
      }

      & span:first-of-type {
        font-weight: 100;
      }
    }
  }
}
