:root {
  --primary-color: #e73c17;
  --primary-color-dark: #c22900;
  --secondary-color: #191919;
  --white-color: #FFF;
  --white-color-dark: #F3F3F3;
  --black-color: #191919;

  --navbar-height: 76px;
}
