:root {
  --primary-color: #e73c17;
  --primary-color-dark: #c22900;
  --secondary-color: #191919;
  --aux-color: #969696;
  --white-color: #fff;
  --white-color-medium: #F4F5F8;
  --white-color-dark: #f3f3f3;
  --black-color: #191919;

  --h1-size: 40px;
  --h2-size: 18px;


  --input-min-height: 60px;


  --product-image-width-small: 152px;
  --product-image-height-small: 115px;
  --product-image-width-big: 548px;
}
